<div>

    {% if user.is_authenticated %}
        <p>Hello {{user.username}}</p>
        <form action="{% url "logout_action" %}" method="POST">
            {% csrf_token %}
        <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url "login_page" %}">Login</a>
    {% endif %}
    
    {%for product in products%}
        <div>
            <p>{{product.title}}</p>
            <small>{{product.description}}</small>
            <p>${{product.price}}</p>
        </div>
    {%endfor%}

</div>