{% extends "layout.html" %}

{% block title %}

    Order form

{% endblock %}


{% block content %}

<form method="post" action="{% url 'finish_order' %}">

    {% csrf_token %}

    <h2>User Information</h2>

    <label for="full_name">Full Name</label>
    <input type="text" id="full_name" name="full_name" maxlength="128" required>

    <label for="country">Country</label>
    <input type="text" id="country" name="country" maxlength="32" required>

    <label for="city">City</label>
    <input type="text" id="city" name="city" maxlength="32" required>

    <label for="postal_code">Postal Code</label>
    <input type="text" id="postal_code" name="postal_code" maxlength="20" required>

    <label for="phone">Phone</label>
    <input type="tel" id="phone" name="phone" maxlength="32" required>

    <button type="submit">Submit</button>
</form>

{% endblock %}